<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Under Armour</title>
    </head>
 <!-- NAVBAR -->
    <body id="home">
      <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mt-0 ">
        
             <a href="index.html" class="navbar-brand">
              <img src="img/logo1.png" width="50" height="50" alt="">
                   <h3 class="d-inline align-middle"></h3></a>  <!-- MAKE a IMG NEW IMG --> 
              <button class="navbar-toggler" data-toggle='collapse' data-target="#navbarNav">
                  <span class="navbar-toggler-icon">
                      
                  </span>
              </button>
              <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item px-2">
                          <a href="index.html" class="nav-link ">Home</a>
                      </li>
                      <li class="nav-item px-2">
                          <a href="#men" class="nav-link active">Men</a>
                      </li>
                      <li class="nav-item px-2">
                          <a href="#woman" class="nav-link">Woman</a>
                      </li>
                      <li class="nav-item px-2">
                          <a href="#shoes" class="nav-link">Shoes</a>
                      </li>
                  </ul>
              
                  <ul class="navbar-nav ml-auto">
                    
                        <li class="nav-item">
                          <a href="login.html" class="nav-link"><i class="fa fa-shopping-cart fa-lg"></i></a>
                      </li>
                  </ul>
              </div>
           </nav>
           <!-- HEADER-->
           
           <div class="img-wrapper">
           <img class="img-responsive" src="img/banner.jpg" width="100%">
          <div class="img-overlay d-none d-lg-block">
                <h5 class="text-white">GRAVITY HOLDS YOU DOWN</h5>
               <h1 class="display-2 text-white">Hovr</h1>
            <a class="btn btn-md btn-success text-white">Shop Now</a>
          </div>
         </div> 
           
           
           
           <!-- CONTENT -->
           
            <section class="p-5 m-5">
        <div class="container">
 <div class="card-deck">
  <div class="card" id="card-1">
    <img class="card-img-top rounded " src="img/banner1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text text-muted">38,39,42</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
  <div class="card" id="card-2">
    <img class="card-img-top" src="img/banner3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
  <div class="card"  id="card-3">
    <img class="card-img-top rounded" src="img/banner2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
</div>
    <div class="card-deck pt-5 ">
  <div class="card"  id="card-4">
    <img class="card-img-top rounded" src="img/banner3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
  <div class="card"  id="card-5">
    <img class="card-img-top rounded" src="img/banner2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
  <div class="card" id="card-6" >
    <img class="card-img-top rounded" src="img/banner2.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-success">Purchase</button>
    </div>
  </div>
</div>
</div>
 </section>
          
   <!-- Quote -->
        <section id="quote-section">
             <div class="container">
                 <div class="row">
                     <div class="col text-center">
                         <div class="py-5">
                            <blockquote class="blockquote text-center">
                           <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                           <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                             <a href="#" class="btn btn-danger">Find Out More</a>
                         </div>
                     </div>
                 </div>
             </div>
         </section>     
          
           
          
                 <!-- FOOTER --> 
         <footer id="main-footer" class="py-2 bg-light text-black">
               <div class="container">
                   <div class="row text-center">
                     
                       <div class="col-md-6 mr-auto">
                           <ul class="list-unstyled list-inline"> 
                          <li class="px-2 list-inline-item">
                          <a href="index.html" class=" text-dark ">Home</a>
                         </li>
                        <li class="px-2 list-inline-item">
                          <a href="men.html" class=" text-dark">Men</a>
                         </li>
                          <li class=" px-2 list-inline-item" >
                          <a href="#woman" class="text-dark">Woman</a>
                           </li>
                          <li class=" px-2 list-inline-item">
                          <a href="#kids" class=" text-dark">Kids</a>
                               </li>
                               <li class="p-2"> <button class="btn btn-danger px-3 mb-2" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                               </li>
                           </ul>
                       </div>
                         <div class="col-md-6 ml-auto ">
                         <ul class="list-unstyled list-inline">
                             <li class="list-inline-item">
                                 <a class="btn btn-social-icon btn-twitter">
                                   <span class="fa fa-twitter"></span>
                                 </a>
                             </li>
                             <li class="list-inline-item">
                                 <a class="btn btn-social-icon btn-facebook ">
                                   <span class="fa fa-facebook"></span>
                                 </a>
                             </li>
                             <p class="lead px-3 mb-2">Copyright &copy; 2018</p>
                         </ul>
                           
                       </div>
                   </div>
               </div>
           </footer> 
           
          <!-- MODAl -->
        
         <div class="modal fade text-dark" id="contactModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactModalTitle">Contact US</h5>
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
       
         <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>